$brand-dark: hsl(0, 0%, 7%);
$brand-white: hsl(285, 67%, 99%);
$brand-color: hsl(17, 80%, 65%);
$brand-color-alt: hsl(19, 100%, 48%);
$brand-background-1: hsla(0, 0%, 0%, 1.0);
$brand-background-2: hsl(9, 77%, 54%);